[package]
name = "etcd-client"
version = "0.9.2"
authors = ["The etcd-client Authors <davidli2010@foxmail.com>"]
edition = "2018"
readme = "README.md"
license = "MIT"
description = "An etcd v3 API client"
repository = "https://github.com/etcdv3/etcd-client.git"
homepage = "https://github.com/etcdv3/etcd-client"
documentation = "https://docs.rs/etcd-client/"
keywords = ["etcd", "v3", "api", "client", "async"]

[features]
tls = ["tonic/tls"]
tls-roots = ["tls", "tonic/tls-roots"]
pub-response-field = ["visible"]

[dependencies]
tonic = "0.7.2"
prost = "0.10.3"
tokio = "1.18.2"
tokio-stream = "0.1.8"
tower-service = "0.3.1"
http = "0.2.7"
visible =  { version = "0.0.1", optional = true }
tower = "0.4.12"

[dev-dependencies]
tokio = { version = "1.18.2", features = ["full"] }

[build-dependencies]
tonic-build = { version = "0.7.2", default-features = false, features = ["prost"] }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
