[package]
name = "etcd-client"
version = "0.5.5"
authors = ["The etcd-client Authors <davidli2010@foxmail.com>"]
edition = "2018"
readme = "README.md"
license = "MIT"
description = "An etcd v3 API client"
repository = "https://github.com/etcdv3/etcd-client.git"
homepage = "https://github.com/etcdv3/etcd-client"
documentation = "https://docs.rs/etcd-client/"
keywords = ["etcd", "v3", "api", "client", "async"]

[dependencies]
tonic = "0.3"
prost = "0.6"
tokio = { version = "0.2", features = ["stream"] }
http = "0.2"

[dev-dependencies]
tokio = { version = "0.2", features = ["full"] }

[build-dependencies]
tonic-build = { version = "0.3", default-features = false, features = ["prost"] }
